# Sepsis Competition - BMEG400D
## Training a Model
## By Sergei Issaev

### Import Libraries

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
import lightgbm as lgb
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, roc_auc_score
import numpy as np
RANDOM_STATE = 74

### Load in Data

In [3]:
df_train = pd.read_csv('training.csv')
df_test = pd.read_csv('testing.csv')
df_all = pd.concat([df_train, df_test], sort=True).reset_index(drop=True)

### Simple EDA

In [4]:
df_train.head()

,level_0,Age,BUN,Creatinine,DBP,FiO2,Glucose,HR,Hct,Hgb,...,O2Sat,Potassium,Resp,SBP,SepsisLabel,Sex,Temp,WBC,index,pH
0,0,65.71,24.701493,1.561401,62.834031,0.519281,132.268194,19.145484,30.893636,10.273107,...,97.045014,4.129589,19.145484,121.760289,0,0,36.878981,11.407253,0.0,7.383057
1,1,65.71,14.000000,0.800000,52.000000,0.519281,132.268194,18.000000,27.600000,10.273107,...,97.000000,4.129589,18.000000,107.500000,0,0,36.878981,11.407253,1.0,7.383057
2,2,65.71,24.701493,1.561401,61.500000,0.519281,253.000000,19.500000,30.893636,10.273107,...,98.500000,5.000000,19.500000,124.500000,0,0,36.780000,11.407253,2.0,7.360000
3,3,65.71,24.701493,1.561401,58.500000,0.519281,132.268194,17.000000,30.893636,10.273107,...,96.500000,4.129589,17.000000,117.500000,0,0,36.878981,11.407253,3.0,7.383057
4,4,65.71,24.701493,1.561401,61.000000,0.519281,132.268194,26.000000,30.893636,10.273107,...,100.000000,4.129589,26.000000,125.000000,0,0,36.878981,11.407253,4.0,7.383057

In [5]:
print('Number of Training Examples = {}'.format(df_train.shape[0]))
print('Number of Test Examples = {}\n'.format(df_test.shape[0]))
print('Training X Shape = {}'.format(df_train.shape))
print('Training y Shape = {}\n'.format(df_train['SepsisLabel'].shape[0]))
print('Test X Shape = {}'.format(df_test.shape))
print('Test y Shape = {}\n'.format(df_test.shape[0]))
print(df_train.columns)
print(df_test.columns)

Number of Training Examples = 199393
Number of Test Examples = 38713

Training X Shape = (199393, 23)
Training y Shape = 199393

Test X Shape = (38713, 23)
Test y Shape = 38713

Index(['level_0', 'Age', 'BUN', 'Creatinine', 'DBP', 'FiO2', 'Glucose', 'HR',
       'Hct', 'Hgb', 'ICULOS', 'MAP', 'Magnesium', 'O2Sat', 'Potassium',
       'Resp', 'SBP', 'SepsisLabel', 'Sex', 'Temp', 'WBC', 'index', 'pH'],
      dtype='object')
Index(['level_0', 'Age', 'BUN', 'Creatinine', 'DBP', 'FiO2', 'Glucose', 'HR',
       'Hct', 'Hgb', 'ICULOS', 'MAP', 'Magnesium', 'O2Sat', 'Potassium',
       'Resp', 'SBP', 'SepsisLabel', 'Sex', 'Temp', 'WBC', 'index', 'pH'],
      dtype='object')

### Biological Interpretation of the Columns

age = age <br>
bun = blood urea nitrogen <br>
creatinine = lab value <br>
dbp = diastolic bp <br>
fi02 = fraction of inspired oxygen<br>
glucose = serum glucose<br>
hr = heart rate<br>
hct = hematocrit<br>
hgb = hemoglobin<br>
iculos = hours since icu admit <br>
map = mean arterial bp<br>
magnesium = lab value<br>
o2sat = pulse oximetry<br>
potassium = lab value <br>
resp = respiration rate<br>
sbp = systolic bp<br>
sepsislabel = target value<br>
sex = gender<br>
temp = temperature<br>
wbc = leukocyte count<br>
pH = acidity<br>

In [6]:
print(df_train.info())
df_train.sample(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199393 entries, 0 to 199392
Data columns (total 23 columns):
level_0        199393 non-null int64
Age            199393 non-null float64
BUN            199393 non-null float64
Creatinine     199393 non-null float64
DBP            199393 non-null float64
FiO2           199393 non-null float64
Glucose        199393 non-null float64
HR             199393 non-null float64
Hct            199393 non-null float64
Hgb            199393 non-null float64
ICULOS         199393 non-null int64
MAP            199393 non-null float64
Magnesium      199393 non-null float64
O2Sat          199393 non-null float64
Potassium      199393 non-null float64
Resp           199393 non-null float64
SBP            199393 non-null float64
SepsisLabel    199393 non-null int64
Sex            199393 non-null int64
Temp           199393 non-null float64
WBC            199393 non-null float64
index          71 non-null float64
pH             199393 non-null float64
dtypes: float64(19), int64(4)
memory usage: 35.0 MB
None

,level_0,Age,BUN,Creatinine,DBP,FiO2,Glucose,HR,Hct,Hgb,...,O2Sat,Potassium,Resp,SBP,SepsisLabel,Sex,Temp,WBC,index,pH
46471,46471,63.90,24.701493,1.561401,61.0,0.519281,132.268194,17.0,30.893636,10.273107,...,97.0,4.129589,17.0,106.0,0,0,36.878981,11.407253,NaN,7.383057
188638,188638,75.00,24.701493,1.561401,64.0,0.519281,132.268194,22.0,30.893636,10.273107,...,99.0,4.129589,22.0,108.0,0,0,36.878981,11.407253,NaN,7.383057
175,175,39.28,24.701493,1.561401,65.0,0.519281,132.268194,26.0,30.893636,10.273107,...,95.0,4.129589,26.0,93.0,0,1,36.878981,11.407253,NaN,7.383057

In [7]:
print(df_test.info())
df_test.sample(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38713 entries, 0 to 38712
Data columns (total 23 columns):
level_0        38713 non-null int64
Age            38713 non-null float64
BUN            38713 non-null float64
Creatinine     38713 non-null float64
DBP            38713 non-null float64
FiO2           38713 non-null float64
Glucose        38713 non-null float64
HR             38713 non-null float64
Hct            38713 non-null float64
Hgb            38713 non-null float64
ICULOS         38713 non-null int64
MAP            38713 non-null float64
Magnesium      38713 non-null float64
O2Sat          38713 non-null float64
Potassium      38713 non-null float64
Resp           38713 non-null float64
SBP            38713 non-null float64
SepsisLabel    38713 non-null int64
Sex            38713 non-null int64
Temp           38713 non-null float64
WBC            38713 non-null float64
index          61 non-null float64
pH             38713 non-null float64
dtypes: float64(19), int64(4)
memory usage: 6.8 MB
None

,level_0,Age,BUN,Creatinine,DBP,FiO2,Glucose,HR,Hct,Hgb,...,O2Sat,Potassium,Resp,SBP,SepsisLabel,Sex,Temp,WBC,index,pH
9894,9894,81.25,12.000000,0.700000,36.000000,0.519281,72.500000,17.0,23.400000,8.200000,...,97.0,4.800000,17.0,102.0,0,0,36.878981,10.600000,NaN,7.440000
8814,8814,52.41,24.701493,1.561401,59.000000,0.500000,137.000000,12.0,30.893636,10.273107,...,100.0,4.100000,12.0,100.0,0,1,37.450000,11.407253,NaN,7.330000
2321,2321,70.28,24.701493,1.561401,62.834031,0.500000,132.268194,26.0,30.893636,10.273107,...,100.0,4.129589,26.0,102.0,0,0,36.878981,11.407253,NaN,7.383057

In [8]:
for col in df_train.columns.tolist():          
    print('{} column missing values: {}'.format(col, df_train[col].isnull().sum()))

level_0 column missing values: 0
Age column missing values: 0
BUN column missing values: 0
Creatinine column missing values: 0
DBP column missing values: 0
FiO2 column missing values: 0
Glucose column missing values: 0
HR column missing values: 0
Hct column missing values: 0
Hgb column missing values: 0
ICULOS column missing values: 0
MAP column missing values: 0
Magnesium column missing values: 0
O2Sat column missing values: 0
Potassium column missing values: 0
Resp column missing values: 0
SBP column missing values: 0
SepsisLabel column missing values: 0
Sex column missing values: 0
Temp column missing values: 0
WBC column missing values: 0
index column missing values: 199322
pH column missing values: 0

In [9]:
for col in df_test.columns.tolist():          
    print('{} column missing values: {}'.format(col, df_train[col].isnull().sum()))

level_0 column missing values: 0
Age column missing values: 0
BUN column missing values: 0
Creatinine column missing values: 0
DBP column missing values: 0
FiO2 column missing values: 0
Glucose column missing values: 0
HR column missing values: 0
Hct column missing values: 0
Hgb column missing values: 0
ICULOS column missing values: 0
MAP column missing values: 0
Magnesium column missing values: 0
O2Sat column missing values: 0
Potassium column missing values: 0
Resp column missing values: 0
SBP column missing values: 0
SepsisLabel column missing values: 0
Sex column missing values: 0
Temp column missing values: 0
WBC column missing values: 0
index column missing values: 199322
pH column missing values: 0

### Rearrange columns

In [10]:
trainer = df_train[["ICULOS", "HR", "O2Sat", "Temp", "SBP", "MAP", "DBP", "Resp", "FiO2", "pH", "BUN", "Creatinine", "Glucose", "Magnesium", "Potassium", "Hct", "Hgb", "WBC", "Age", "Sex"]]

In [11]:
trainertest = df_test[["ICULOS", "HR", "O2Sat", "Temp", "SBP", "MAP", "DBP", "Resp", "FiO2", "pH", "BUN", "Creatinine", "Glucose", "Magnesium", "Potassium", "Hct", "Hgb", "WBC", "Age", "Sex"]]

In [12]:
trainer.sample(3)

,ICULOS,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,FiO2,pH,BUN,Creatinine,Glucose,Magnesium,Potassium,Hct,Hgb,WBC,Age,Sex
57253,6,10.000000,100.0,37.500000,141.000000,101.000000,79.000000,10.000000,0.500000,7.420000,16.000000,0.800000,101.000000,2.047995,4.100000,32.200000,10.273107,11.407253,57.15,1
98353,87,17.000000,97.0,36.878981,121.760289,81.555129,62.834031,17.000000,0.519281,7.383057,24.701493,1.561401,132.268194,2.047995,4.129589,30.893636,10.273107,11.407253,33.00,0
186058,49,19.145484,96.0,37.200000,131.000000,89.000000,59.000000,19.145484,0.519281,7.383057,39.000000,0.920000,123.000000,2.200000,3.900000,30.893636,10.273107,11.407253,76.00,1

### Train-Test Split

In [13]:
#Select columns
X = trainer.iloc[:, :].values
y = df_train.iloc[:, list(df_train.columns).index('SepsisLabel')].values

In [14]:
#Select columns
X_t = trainertest.iloc[:, :].values
y_t = df_test.iloc[:, list(df_train.columns).index('SepsisLabel')].values

In [15]:
# Feature scaling
#sc = StandardScaler()
#x_train = sc.fit_transform(x_train)
#x_test = sc.transform(x_test)

### Train Algorithm

In [18]:
#Set the minimum error arbitrarily large
maxim = 0
count = 0 #Used for keeping track of the iteration number
#How many runs to perform using randomly selected hyperparameters
iterations = 40
for i in range(iterations):
    print('iteration number', count)
    count += 1 #increment count
    try:
        d_train = lgb.Dataset(X, label=y) #Load in data
        params = {} #initialize parameters
        params['learning_rate'] = np.random.uniform(0, 0.5)
        params['boosting_type'] = np.random.choice(['gbdt', 'dart', 'goss'])
        params['objective'] = 'binary'
        params['metric'] = 'binary_logloss'
        params['sub_feature'] = np.random.uniform(0, 1)
        params['num_leaves'] = np.random.randint(20, 300)
        params['min_data'] = np.random.randint(10, 100)
        params['max_depth'] = np.random.randint(5, 200)
        iterations = np.random.randint(10, 750)
        print(params, iterations)#Train using selected parameters
        clf = lgb.train(params, d_train, iterations)
        y_pred=clf.predict(X_t) #Create predictions on test set
        y_predx = y_pred.round(0)
        y_predx = y_predx.astype(int)

        roc=roc_auc_score(y_predx, y_t)
        print('ROC:', roc)
        if roc > maxim:
            maxim = roc
            pp = params 
    except: #in case something goes wrong
        print('failed with')
        print(params)
print("*" * 50)
print('Maximum is: ', maxim)
print('Used params', pp)

iteration number 0
{'learning_rate': 0.004809088746856094, 'boosting_type': 'dart', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.7230893771244701, 'num_leaves': 250, 'min_data': 68, 'max_depth': 62} 113
failed with
{'learning_rate': 0.004809088746856094, 'boosting_type': 'dart', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.7230893771244701, 'num_leaves': 250, 'min_data': 68, 'max_depth': 62}
iteration number 1
{'learning_rate': 0.23954068735309497, 'boosting_type': 'gbdt', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.44509753764214643, 'num_leaves': 130, 'min_data': 65, 'max_depth': 185} 121
ROC: 0.5464040274979388
iteration number 2
{'learning_rate': 0.28292252348228114, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.9553110589813447, 'num_leaves': 45, 'min_data': 49, 'max_depth': 89} 699
ROC: 0.5236355393178281
iteration number 3
{'learning_rate': 0.18264687268218627, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.6969667091630589, 'num_leaves': 146, 'min_data': 34, 'max_depth': 115} 656
ROC: 0.5329347493121512
iteration number 4
{'learning_rate': 0.44456675176191474, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.6945255701685482, 'num_leaves': 281, 'min_data': 85, 'max_depth': 101} 511
ROC: 0.5417363641220367
iteration number 5
{'learning_rate': 0.40669880236175615, 'boosting_type': 'dart', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.7099352350713393, 'num_leaves': 221, 'min_data': 85, 'max_depth': 73} 143
ROC: 0.5520194100882377
iteration number 6
{'learning_rate': 0.20359523638274807, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.38657903385276604, 'num_leaves': 144, 'min_data': 18, 'max_depth': 76} 636
ROC: 0.5510514418940375
iteration number 7
{'learning_rate': 0.039488967841696754, 'boosting_type': 'gbdt', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.5698588190645361, 'num_leaves': 182, 'min_data': 85, 'max_depth': 173} 682
ROC: 0.5766803751889972
iteration number 8
{'learning_rate': 0.42614667472303824, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.8878870688428308, 'num_leaves': 276, 'min_data': 74, 'max_depth': 166} 429
ROC: 0.5503499836764185
iteration number 9
{'learning_rate': 0.20699688406848393, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.8152134865298228, 'num_leaves': 147, 'min_data': 46, 'max_depth': 83} 274
ROC: 0.5186175570987408
iteration number 10
{'learning_rate': 0.4008026941263457, 'boosting_type': 'gbdt', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.5245258811335137, 'num_leaves': 106, 'min_data': 97, 'max_depth': 160} 210
ROC: 0.5417504056786331
iteration number 11
{'learning_rate': 0.39589212576451854, 'boosting_type': 'dart', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.5684280154754391, 'num_leaves': 180, 'min_data': 66, 'max_depth': 108} 266
ROC: 0.5498955311507114
iteration number 12
{'learning_rate': 0.04300064895937644, 'boosting_type': 'dart', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.7342899073439484, 'num_leaves': 292, 'min_data': 90, 'max_depth': 138} 546
ROC: 0.6498066372100634
iteration number 13
{'learning_rate': 0.16250638705673343, 'boosting_type': 'dart', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.7367063596112176, 'num_leaves': 99, 'min_data': 15, 'max_depth': 123} 723
ROC: 0.5491739242420052
iteration number 14
{'learning_rate': 0.0590948252768978, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.07272212925004273, 'num_leaves': 161, 'min_data': 21, 'max_depth': 70} 139
ROC: 0.8164759173620619
iteration number 15
{'learning_rate': 0.018275867531192203, 'boosting_type': 'dart', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.9923001342532846, 'num_leaves': 187, 'min_data': 90, 'max_depth': 84} 670
ROC: 0.6259734555735175
iteration number 16
{'learning_rate': 0.3611440335625571, 'boosting_type': 'dart', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.3468912055239679, 'num_leaves': 272, 'min_data': 29, 'max_depth': 64} 216
ROC: 0.5601782764879452
iteration number 17
{'learning_rate': 0.4755476796272079, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.4628268060714368, 'num_leaves': 84, 'min_data': 82, 'max_depth': 81} 66
ROC: 0.5486370437374083
iteration number 18
{'learning_rate': 0.20890923763276037, 'boosting_type': 'dart', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.5613779902442128, 'num_leaves': 121, 'min_data': 14, 'max_depth': 168} 403
ROC: 0.5541765820319074
iteration number 19
{'learning_rate': 0.23347793555531904, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.43492116704840167, 'num_leaves': 45, 'min_data': 48, 'max_depth': 162} 323
ROC: 0.5470887129786202
iteration number 20
{'learning_rate': 0.07716070674412723, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.6592420178082062, 'num_leaves': 239, 'min_data': 72, 'max_depth': 60} 210
ROC: 0.5714857859888286
iteration number 21
{'learning_rate': 0.08474446903844496, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.5513900224790594, 'num_leaves': 152, 'min_data': 49, 'max_depth': 177} 250
ROC: 0.5482876055762372
iteration number 22
{'learning_rate': 0.40542253878184564, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.4338210671607975, 'num_leaves': 133, 'min_data': 89, 'max_depth': 127} 353
ROC: 0.5379625923408328
iteration number 23
{'learning_rate': 0.424391390975122, 'boosting_type': 'dart', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.6886088789655866, 'num_leaves': 246, 'min_data': 75, 'max_depth': 192} 132
ROC: 0.554077186246471
iteration number 24
{'learning_rate': 0.4898666655317163, 'boosting_type': 'gbdt', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.345746517698016, 'num_leaves': 234, 'min_data': 72, 'max_depth': 77} 658
ROC: 0.5516597754790262
iteration number 25
{'learning_rate': 0.23967353434392558, 'boosting_type': 'dart', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.32580430824685624, 'num_leaves': 219, 'min_data': 26, 'max_depth': 190} 256
ROC: 0.5588055649711221
iteration number 26
{'learning_rate': 0.41355887910533795, 'boosting_type': 'gbdt', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.035902886150553925, 'num_leaves': 154, 'min_data': 87, 'max_depth': 174} 580
ROC: 0.5260275064342778
iteration number 27
{'learning_rate': 0.016324404839602402, 'boosting_type': 'dart', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.5429237831657705, 'num_leaves': 155, 'min_data': 82, 'max_depth': 121} 560
failed with
{'learning_rate': 0.016324404839602402, 'boosting_type': 'dart', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.5429237831657705, 'num_leaves': 155, 'min_data': 82, 'max_depth': 121}
iteration number 28
{'learning_rate': 0.3887328978540723, 'boosting_type': 'dart', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.49364200920204293, 'num_leaves': 280, 'min_data': 90, 'max_depth': 158} 416
ROC: 0.552932476823994
iteration number 29
{'learning_rate': 0.44781555764505493, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.8707053668364959, 'num_leaves': 219, 'min_data': 40, 'max_depth': 22} 647
ROC: 0.5237989590194811
iteration number 30
{'learning_rate': 0.3536030165244838, 'boosting_type': 'gbdt', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.3783823425111673, 'num_leaves': 265, 'min_data': 11, 'max_depth': 63} 343
ROC: 0.6164719968301549
iteration number 31
{'learning_rate': 0.4529743314218407, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.31353286805145386, 'num_leaves': 203, 'min_data': 49, 'max_depth': 55} 38

ROC: 0.5381077764124521
iteration number 32
{'learning_rate': 0.43412896707314286, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.537624246968727, 'num_leaves': 248, 'min_data': 71, 'max_depth': 107} 519
ROC: 0.5236182863737882
iteration number 33
{'learning_rate': 0.3950095058429497, 'boosting_type': 'dart', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.3357127422742755, 'num_leaves': 42, 'min_data': 14, 'max_depth': 93} 466
ROC: 0.5289488644707088
iteration number 34
{'learning_rate': 0.4375192849115154, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.7465971060930211, 'num_leaves': 219, 'min_data': 33, 'max_depth': 76} 84
ROC: 0.5209562033403283
iteration number 35
{'learning_rate': 0.35001174169458393, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.7929110097570514, 'num_leaves': 76, 'min_data': 36, 'max_depth': 5} 185
ROC: 0.5641807259937064
iteration number 36
{'learning_rate': 0.43417050170103216, 'boosting_type': 'gbdt', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.24253772645094396, 'num_leaves': 266, 'min_data': 17, 'max_depth': 16} 508
ROC: 0.5295364056233622
iteration number 37
{'learning_rate': 0.4528624637267261, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.734984655849872, 'num_leaves': 65, 'min_data': 64, 'max_depth': 9} 359
ROC: 0.5424761664154811
iteration number 38
{'learning_rate': 0.3306557663770445, 'boosting_type': 'gbdt', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.7170331303781986, 'num_leaves': 150, 'min_data': 11, 'max_depth': 115} 176
ROC: 0.5175416724850838
iteration number 39
{'learning_rate': 0.054572679216522924, 'boosting_type': 'gbdt', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.5462209608846273, 'num_leaves': 101, 'min_data': 75, 'max_depth': 123} 657
ROC: 0.5477243113212275
**************************************************
Maximum is:  0.8164759173620619
Used params {'learning_rate': 0.0590948252768978, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.07272212925004273, 'num_leaves': 161, 'min_data': 21, 'max_depth': 70}

### Use Best Parameters to Define Model

In [19]:
params = {} #initialize parameters
params['learning_rate'] = 0.09631061598944796
params['boosting_type'] = 'goss'
params['objective'] = 'binary'
params['metric'] = 'binary_logloss'
params['sub_feature'] = 0.7050168519189473
params['num_leaves'] = 27
params['min_data'] = 29
params['max_depth'] = 150
iterations = 22
print(params, iterations)
clf = lgb.train(params, d_train, iterations)

{'learning_rate': 0.09631061598944796, 'boosting_type': 'goss', 'objective': 'binary', 'metric': 'binary_logloss', 'sub_feature': 0.7050168519189473, 'num_leaves': 27, 'min_data': 29, 'max_depth': 150} 22

### Make Predictions and Evaluate

In [20]:
y_pred=clf.predict(X_t)
y_predx = y_pred.round(0)
y_predx = y_predx.astype(int)
roc_auc_score(y_predx, y_t)

0.7773329664716828

In [21]:
clf.save_model('lgbm_model5.mdl')